
.MainImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid white;
}

.upload-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008aed;
    color: white;
    padding: 120px 10px 120px 10px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
   