{% load static %}
<!DOCTYPE html>
<html lang="en">

    {% include 'Include/indexHead.html' %}

<body style="background-color: #f3f4f8;">
    
    <div class="ContainerAll">

            <div class="navBarIndex shadow-sm p-3 mb-5 bg-body">


                        <div class="d-flex align-itmes-center gap-2">

                            <img class="faceLogo" src="{% static 'Img/logo/faceLogo.png' %}" alt="">
        
                            <input class="form-control rounded-pill w-70" type="text">
        
                        </div>
        
                        <div class="centerNavIconCont pe-5">
        
                            <img class="NavIconFilter" src="https://img.icons8.com/?size=100&id=gE0woMnZGtua&format=png&color=000000" alt="">
                            <img class="NavIconFilter" src="https://img.icons8.com/?size=100&id=lMjvNrU0KBhp&format=png&color=000000" alt="">
                            <img class="NavIconFilter" src="https://img.icons8.com/?size=100&id=NAgNdhjl0WLF&format=png&color=000000" alt="">
                            <img class="NavIconFilter" src="https://img.icons8.com/?size=100&id=9542&format=png&color=000000" alt="">
        
                        </div>
        
                        <div class="d-flex justify-content-end align-itmes-center gap-2">
        
                            <img class="rightSideIcon" src="https://img.icons8.com/?size=100&id=78290&format=png&color=000000" alt="">
                            <img class="rightSideIcon" src="https://img.icons8.com/?size=100&id=20383&format=png&color=000000" alt="">
                            <img class="rightSideIcon" src="https://img.icons8.com/?size=100&id=83193&format=png&color=000000" alt="">
                            <img class="rightSideIcon" src="https://img.icons8.com/?size=100&id=83193&format=png&color=000000" alt="">
        
                        </div>


            </div>

            <div class="SidebarIndex">

                <div>

                    <img class="svgIcon" src="{% static "Side icon/frewnds icon.svg" %}" alt="">
                    <img class="svgIcon" src="{% static "Side icon/save.svg" %}" alt="">
                    <img class="svgIcon" src="{% static "Side icon/Group 9.svg" %}" alt="">
                    <img class="svgIcon" src="{% static "Side icon/wacth.svg" %}" alt="">
                    <img class="svgIcon" src="{% static "Side icon/story.svg" %}" alt="">

                </div>

            </div>

            <div class="MainBodyIndex">



            </div>

            <div class="RightBarIndex">



            </div>


    </div>

</body>
</html>