{% load static %}
<!DOCTYPE html>
<html lang="en">

    {% include "Include/index_Head.html" %}

<body>

    <div class="">

        <div class="loading" id="LoadContainer">

            <img class="customsize" id="loadingID" src="{% static 'LoadingGIF/loadng.gif' %}" alt="">

        </div>

        <div class="navBARhere shadow-sm p-3 mb-5 bg-body d-flex justify-content-between align-items-center ps-3 pe-3 pt-4">

            <div class="d-flex justify-content-between align-items-center gap-2">

                <div>

                    <img class="facewidth" src="{% static 'Logo/Face.png' %}" alt="">

                </div>

                <div>

                    <input type="search" class="border-0 form-control form-control-sm" placeholder="Search Facebook">

                </div>
                

            </div>

            <div class="catagores d-flex justify-content-between align-items-center">

                <img class="iconsize"  src="https://img.icons8.com/?size=100&id=83326&format=png&color=000000">
                <img class="iconsize"  src="https://img.icons8.com/?size=100&id=kvSrC8QSaaSl&format=png&color=000000">
                <img class="iconsize"  src="https://img.icons8.com/?size=100&id=fJXFbcW0WrW9&format=png&color=000000">
                <img class="iconsize"  src="https://img.icons8.com/?size=100&id=mlzugiBNw6GO&format=png&color=000000">
                <img class="iconsize"  src="https://img.icons8.com/?size=100&id=AQ7HFnm4p16c&format=png&color=000000">

            </div>

            <div class="setting d-flex justify-content-between align-items-center gap-4">

                <img class="facewidth" src="{% static 'Logo/Face.png' %}" alt="">
                <p>Name owner</p>

                <div class="settingback p-1">

                    <img class="iconsize" src="https://img.icons8.com/?size=100&id=37966&format=png&color=000000">

                </div>

                <div class="settingback p-1">

                    <img class="iconsize" src="https://img.icons8.com/?size=100&id=84025&format=png&color=000000">

                </div>

                <div class="settingback p-1">

                    <img class="iconsize" src="https://img.icons8.com/?size=100&id=84025&format=png&color=000000">

                </div>
                

            </div>

        </div>

    </div>
    
    <script src="{% static 'Index/indexJS.js' %}"></script>

</body>
</html>