{% load static %}
<!DOCTYPE html>
<html lang="en">

    {% include "Include/index_Head.html" %}

<body style="background: rgb(235, 235, 235);">

    <div class="">

        <!-- <div class="loading" id="LoadContainer">

            <img class="customsize" id="loadingID" src="{% static 'LoadingGIF/loadng.gif' %}" alt="">

        </div> -->

        <div class="navBARhere shadow-sm p-3 bg-body d-flex justify-content-between align-items-center ps-3 pe-3 pt-4">

            <div class="d-flex justify-content-between align-items-center gap-2">

                <div>

                    <img class="facewidth" src="{% static 'Logo/Face.png' %}" alt="">

                </div>

                <div>

                    <input type="search" class="border-0 form-control form-control-sm" placeholder="Search Facebook">

                </div>
                

            </div>

            <div class="catagores d-flex justify-content-between align-items-center">

                <img class="iconsize"  src="https://img.icons8.com/?size=100&id=83326&format=png&color=000000">
                <img class="iconsize"  src="https://img.icons8.com/?size=100&id=kvSrC8QSaaSl&format=png&color=000000">
                <img class="iconsize"  src="https://img.icons8.com/?size=100&id=fJXFbcW0WrW9&format=png&color=000000">
                <img class="iconsize"  src="https://img.icons8.com/?size=100&id=mlzugiBNw6GO&format=png&color=000000">
                <img class="iconsize"  src="https://img.icons8.com/?size=100&id=AQ7HFnm4p16c&format=png&color=000000">

            </div>

            <div class="setting d-flex justify-content-between align-items-center gap-4">


                <img class="facewidth" src="https://img.freepik.com/free-vector/young-man-glasses-hoodie_1308-174658.jpg?t=st=1735478666~exp=1735482266~hmac=02bfc60ab3f5ec4abe61a173d28f3e42c2f2c4cafee12370c64aa54183cafd4a&w=740" alt="">
                <p class="mb-0">Alazar Bekele</p>

                <div class="settingback p-1">

                    <img class="iconsize" src="https://img.icons8.com/?size=100&id=37966&format=png&color=000000">

                </div>

                <div class="settingback p-1">

                    <img class="iconsize" src="https://img.icons8.com/?size=100&id=84025&format=png&color=000000">

                </div>

                <div class="settingback p-1">

                    <img class="iconsize" src="https://img.icons8.com/?size=100&id=84025&format=png&color=000000">

                </div>
                

            </div>

        </div>

        <div class="BodyContainer">

            <div class="sideBar">

                <div class="containerside">

                    <div class="d-flex align-items-center gap-4">

                        <img class="facewidth" src="https://img.freepik.com/free-vector/young-man-glasses-hoodie_1308-174658.jpg?t=st=1735478666~exp=1735482266~hmac=02bfc60ab3f5ec4abe61a173d28f3e42c2f2c4cafee12370c64aa54183cafd4a&w=740" alt="">
                        <p class="mb-0">Alazar Bekele</p>

                    </div>

                    <div class="flexhor">

                        <img class="sideiconsize" src="https://img.icons8.com/?size=100&id=11220&format=png&color=000000" alt="">
                        <p>Friends</p>

                    </div>

                    <div class="flexhor">

                        <img class="sideiconsize" src="https://img.icons8.com/?size=100&id=37917&format=png&color=000000" alt="">
                        <a class="text-decoration-none" href="#"><p>Story</p></a>

                    </div>

                    <div class="flexhor">

                        <img class="sideiconsize" src="https://img.icons8.com/?size=100&id=8287&format=png&color=000000" alt="">
                        <p>MarketPlace</p>

                    </div>

                    <div class="flexhor">

                        <img class="sideiconsize" src="https://img.icons8.com/?size=100&id=87041&format=png&color=000000" alt="">
                        <p>Watch</p>

                    </div>

                    <div class="flexhor">

                        <img class="sideiconsize" src="https://img.icons8.com/?size=100&id=10053&format=png&color=000000" alt="">
                        <p>Events</p>

                    </div>

                    <div class="flexhor">

                        <img class="sideiconsize" src="https://img.icons8.com/?size=100&id=59760&format=png&color=000000" alt="">
                        <p>Memories</p>

                    </div>

                    <div class="flexhor">

                        <img class="sideiconsizeSee" src="https://img.icons8.com/?size=100&id=BIG1G9R0zfdm&format=png&color=000000" alt="">
                        <p>See more</p>

                    </div>

                </div>

            </div>

            <div class="MainBody p-3">


                <div class="StoryAll d-flex justify-content-around align-items-center">

                    <div class="hov">

                        <div class="proContainer">

                            <div class="pro">
    
                                <img class="ProfileIMG" src="{% static 'Story IMG/ProfileIMG.jpg' %}" alt="">
    
                            </div>
    
                            <p class="text-light ps-2 TopicFont">Topic Name</p>
    
                        </div>
    
                        <div class="StoryContainer">
    
                            <img class="StoryIMG" src="{% static 'Story IMG/p.jpg' %}" alt="">
    
                        </div>

                    </div>

                    <div class="hov">

                        <div class="proContainer">

                            <div class="pro">
    
                                <img class="ProfileIMG" src="{% static 'Story IMG/ProfileIMG.jpg' %}" alt="">
    
                            </div>
    
                            <p class="text-light ps-2 TopicFont">Topic Name</p>
    
                        </div>
    
                        <div class="StoryContainer">
    
                            <img class="StoryIMG" src="{% static 'Story IMG/p.jpg' %}" alt="">
    
                        </div>

                    </div>

                    <div class="hov">

                        <div class="proContainer">

                            <div class="pro">
    
                                <img class="ProfileIMG" src="{% static 'Story IMG/ProfileIMG.jpg' %}" alt="">
    
                            </div>
    
                            <p class="text-light ps-2 TopicFont">Topic Name</p>
    
                        </div>
    
                        <div class="StoryContainer">
    
                            <img class="StoryIMG" src="{% static 'Story IMG/p.jpg' %}" alt="">
    
                        </div>

                    </div>

                    <div class="hov">

                        <div class="proContainer">

                            <div class="pro">
    
                                <img class="ProfileIMG" src="{% static 'Story IMG/ProfileIMG.jpg' %}" alt="">
    
                            </div>
    
                            <p class="text-light ps-2 TopicFont">Topic Name</p>
    
                        </div>
    
                        <div class="StoryContainer">
    
                            <img class="StoryIMG" src="{% static 'Story IMG/p.jpg' %}" alt="">
    
                        </div>

                    </div>

                    <div class="hov">

                        <div class="proContainer">

                            <div class="pro">
    
                                <img class="ProfileIMG" src="{% static 'Story IMG/ProfileIMG.jpg' %}" alt="">
    
                            </div>
    
                            <p class="text-light ps-2 TopicFont">Topic Name</p>
    
                        </div>
    
                        <div class="StoryContainer">
    
                            <img class="StoryIMG" src="{% static 'Story IMG/p.jpg' %}" alt="">
    
                        </div>

                    </div>

                </div>



                <div class="AskMind pt-4 ">

                    <div class="MindFirst card shadow-sm p-4 mb-5 bg-body">

                        <div class="d-flex justify-content-between align-items-center gap-1 pb-1">

                            <img class="MindProfileIMG" src="https://img.freepik.com/free-vector/young-man-glasses-hoodie_1308-174658.jpg?t=st=1735478666~exp=1735482266~hmac=02bfc60ab3f5ec4abe61a173d28f3e42c2f2c4cafee12370c64aa54183cafd4a&w=740" alt="">
                            <input class="form-control rounded-pill ps-4" placeholder="What's on your mind?" type="search">

                        </div>

                        <hr class="pb-1">

                        <div class="d-flex justify-content-around align-items-center">

                            <div class="d-flex align-items-center gap-1">

                                <img class="iconsize" src="https://img.icons8.com/?size=100&id=kZ60xjJXDztQ&format=png&color=000000" alt="">
                                <p class="mb-0">Live Video</p>

                            </div>

                            <div class="d-flex align-items-center gap-1">

                                <img class="iconsize" src="https://img.icons8.com/?size=100&id=1vNMGfe3pMAQ&format=png&color=000000" alt="">
                                <p class="mb-0">Photo/Video</p>

                            </div>

                            <div class="d-flex align-items-center gap-1">

                                <img class="iconsize" src="https://img.icons8.com/?size=100&id=xYLP3C2Iro13&format=png&color=000000" alt="">
                                <p class="mb-0">Feeling/Activity</p>

                            </div>

                        </div>

                    </div>

                </div>



                <div class="MainPicture">

                    <div>

                        <div class="d-flex align-items-center gap-2 p-3">

                            <img class="MindProfileIMG" src="https://img.freepik.com/free-vector/young-man-glasses-hoodie_1308-174658.jpg?t=st=1735478666~exp=1735482266~hmac=02bfc60ab3f5ec4abe61a173d28f3e42c2f2c4cafee12370c64aa54183cafd4a&w=740">

                            <div>

                                <h6 class="mb-1">Owner Name</h6>
                                <p class="mb-0">30/06/24</p>

                            </div>

                        </div>

                        <div>

                            <div>

                                <h6 class="ps-3">Title</h6>

                            </div>

                            <div class="d-flex justify-content-center align-items-center">

                                <img class="img-fluid" src="{% static 'Post/Post1.jpg' %}" alt="">

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="endbar">



            </div>

        </div>

    </div>
    
    <script src="{% static 'Index/indexJS.js' %}"></script>

</body>
</html>