{% load static %}

<!DOCTYPE html>
<html lang="en">

    {% include 'Include/Login_Head.html' %}

<body>
    
    <div class="container">
<!-- 
        <div class="loading" id="LoadContainer">

            <img class="customsize" id="loadingID" src="{% static 'LoadingGIF/loadng.gif' %}" alt="">

        </div> -->

        <div>

            <form method="post">

                {% csrf_token %}
                {{ log.as_p }}

            </form>

        </div>

    </div>
    
    <script src="{% static 'Index/indexJS.js' %}"></script>

</body>
</html>