{% load static %}

<!DOCTYPE html>
<html lang="en">

    {% include 'Include/Login_Head.html' %}

<body style="height: 100vh;">
    
    <div style="height: 100vh;" class="container">
<!-- 
        <div class="loading" id="LoadContainer">

            <img class="customsize" id="loadingID" src="{% static 'LoadingGIF/loadng.gif' %}" alt="">

        </div> -->

        <div class="d-flex justify-content-center align-items-center">

            <form class="col-md-3" method="post">

                {% csrf_token %}
                {{ log.as_p }}

                <button class="btn btn-primary">Submit</button>

                <a href="{% url "signup" %}"><p>I Don't have any account</p></a>

            </form>

        </div>

    </div>
    
    <script src="{% static 'Index/indexJS.js' %}"></script>

</body>
</html>