
.loading {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.cancel {
    display: none;
}
.customsize {
    width: 100px;
}
.redirectload {
    display: none;
}
.container {
    overflow: hidden;
    width: 100%;
}


.facewidth {
    width: 30px;
    border-radius: 50%;
}
.iconsize {
    width: 25px;
}
.catagores {
    gap: 80px;
}
.iconsize:hover, .iconsize:active {
    filter: brightness(0) saturate(100%) invert(43%) sepia(95%) saturate(3979%) hue-rotate(193deg) brightness(100%) contrast(109%);
    transition: 0.5s;
}
.settingback {
    border: none;
    background-color: rgb(221, 221, 221);
    border-radius: 50%;
}
.navBARhere {
    height: 85px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.containerside {
    width: 350px;
    background: rgb(255, 255, 255);
    position: fixed;
    padding-top: 110px;
    padding-left: 25px;
    height: 100vh;
}
.sideiconsize {
    width: 25px;
}
.sideiconsize:hover, .sideiconsizeSee:hover {
    filter: brightness(0) saturate(100%) invert(43%) sepia(95%) saturate(3979%) hue-rotate(193deg) brightness(100%) contrast(109%);
    transition: 0.5s;
}
.sideiconsizeSee {
    width: 25px;
    transform: rotate(-90deg);
}
.flexhor {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}
.flexhor p {
    margin-bottom: 0;
}